*.o
*.so
*.dll

# --- vendored files from bootstrap.R ---
array_view.c
builder.c
double_parse_fast_float.cc
double_parse_std.c
double_print.c
kernel.c
metadata.c
nanoarrow.c
d2s.c
schema_view.c
schema.c
util.c
visitor.c
wkb_reader.c
wkb_writer.c
wkt_reader.c
wkt_writer.c
fast_float.h
geoarrow_arrow.hpp
geoarrow_type_inline.h
geoarrow_type.h
geoarrow.h
geoarrow.hpp
nanoarrow.h
ryu/common.h
ryu/d2fixed_full_table.h
ryu/d2s_full_table.h
ryu/d2s_intrinsics.h
ryu/digit_table.h
ryu/ryu.h
# --- end vendored files from bootstrap.R ---
